<!DOCTYPE>
<html>
<head></head>
<body>
    <h2> HI, WELCOME, HERE YOU CAN FIND YOUR ORDER DETAIL AND MAKE A SHIPMENT<h2>
    <P>Click on the button to see Order Details</p>
    <%= button_to "Orders", orders_path, method: :get %>
</body>
</html>
